
div.d1 {
	border-style : solid;
	background : orange;
	text-align : center;	
       }

div.d2 {
	border-style : solid;
	background : dodgerblue;	
	max-width : 130px;
        text-align : left;
        padding : 10px;	
	margin: 40px;
        margin-left : -5px;
	float : left;
       }

div.d4 {
	border-style : solid;
	background : dodgerblue;
	max-width : 130px;	
        text-align : left;
        padding : 10px;	
	margin: 40px;
        margin-left : -5px;
	float : left;
       }
div.d3 {
	padding : 10px;
        
       }


